@charset "utf-8";
/* CSS Document */
* {
  box-sizing: border-box;
}

h2 {
  text-align: center;
  color: white;
}
body {
  margin: 0;
  padding: 25px;
  font-family: Arial;
  background-color: #322F2F;
}
img {
    float: left;
    width:  auto;
    height: auto;
    object-fit: cover;
    width: 100%;
}


p {
    color: #322F2F;
  }
#caption {
  color: #322F2F;
}

#caption2 {
  color: #322F2F;
}

#caption3 {
  color: #322F2F;
}

#caption4 {
  color: #322F2F;
}

#caption5 {
  color: #322F2F;
}

#border {
  border: #322F2F;
}
/* The grid: five equal columns that floats next to each other */
.column {
  float: left;
  width: 20%;
}
.containers {
  float: inherit;
  width: 100%;
}

.image {
  display: block;
   width: 100%;
   height: auto;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.container {
  position: relative;
  display: none;
}
/* Expanding image text */
#imgtext {
  position: static;
  color: white;
  font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

</style>
