@charset "utf-8";
/* CSS Document */
* {
  box-sizing: border-box;
}
input[type=text], select, textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-weight: bold;
}

input[type=submit] {
  border: 1px solid black;
  color: black;
  padding: 12px 20px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: gray;
}

input[type=reset] {
  border: 1px solid black;
  color: black;
  padding: 12px 20px;
  cursor: pointer;
}

input[type=reset]:hover {
  background-color: gray;
}

.container {
  width: 50%;
  border: 12px solid black;
  border-width: medium;
  padding: 10px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
